{% extends 'main/base.html' %}

{% block title %}
Биография
{% endblock %}

{% block content%}

<div class="article">

    <h1>Биография</h1>

        {% for bio in biography%}

            <p>{{ bio.content}}</p>

        {% endfor %}
</div>

<div class="panel panel-default panel-map">
  <div class="panel-heading">
    <h3 class="panel-title">Карта</h3>
  </div>
  <div class="panel-body">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18315.134613314087!2d35.27318351307335!3d51.57644136815153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x412ecf356dadc71f%3A0xf9f8fb5898e3af2!2z0JHQvtC70YzRiNCw0Y8g0J7RgNC70L7QstC60LAsINCa0YPRgNGB0LrQsNGPINC-0LHQuy4sIDMwNzcwMQ!5e1!3m2!1sru!2sru!4v1473151175004" width="480" height="320" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>

{% endblock %}
