{% extends 'main/base.html' %}

{% block title %}
Фотографии
{% endblock %}

{% block content%}

<div class="article-photo">
    <h1>Фотографии</h1>

    {% for gal in gallery %}

<div class="column">
  <div class="col-xs-6 col-md-2">
   <div class="feature">
    <div class="thumbnail">
        <a href="{% url 'image' gal.idim %}" class="thumbnail1">
        <img src="{{MEDIA_URL}}{{ gal.img }}" alt="...">
        </a>
          <div class="caption">
              <p>{{ gal.comment }}</p>
          </div>
    </div>
   </div>
  </div>
</div>

    {% endfor %}
</div>

{% endblock %}



    <!--<div class="row">-->
        <!--<h4 class="imname">{{ gal.name }}</h4>-->
        <!--<a href="{% url 'image' gal.idim %}"> <img class="image" src="{{MEDIA_URL}}{{ gal.img }}"></a>-->
    <!--</div>



<div class="row">-->
  <!--<div class="col-sm-6 col-md-4">-->
    <!--<div class="thumbnail">-->
      <!--<img src="{{MEDIA_URL}}{{ gal.img }}" alt="">-->
      <!--<div class="caption">-->
        <!--&lt;!&ndash;<h3>{{ gal.name }}</h3>&ndash;&gt;-->
        <!--<p>{{ gal.comment }}</p>-->
        <!--<p><a href="{% url 'image' gal.idim %}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>-->
            <!--&lt;!&ndash;<a href="#" class="btn btn-default" role="button">Button</a>&ndash;&gt;
