{% extends 'main/base.html' %}

{% block title %}
Произведения
{% endblock %}

{% block content%}
<div class="article">
    <h1>Произведения</h1>

    {% for writing in writings %}
        <h4><a href="{% url 'writing' writing.idwr %}">{{ writing.name }}</a></h4>
        <p>{{ writing.get_short_text }}</p>
        <a href="{% url 'writing' writing.idwr %}"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></a>
    {% endfor %}
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Навигация</h3>
  </div>
  <div class="panel-body">
    {% for writing in writings %}
        <ul class="article-name">
            <a href="{% url 'writing' writing.idwr %}"><li>{{ writing.name }}</li></a>
        </ul>
    {% endfor %}
  </div>
</div>

{% endblock %}
