.main-content {
    margin-top: 80px;
    display: block;
    margin: 60px auto 10px auto;
    width: 100%;
    max-width: 960px;
}

h4 {
    margin-top: 50px;
}

.caption {
    display: inline-block;
    margin: auto;
}

.image {
    width: 75px;
    height: 75px;
    top: 0px;
    left: 0px;
}

.glyphicon-image {
    align: center;
}

.navimg {
    align: center;
    margin-bottom: 20px;
}

.thumbnail {
    display: table;
    height: 100px
}

.feature {
    display: table;
    height: 100px
}

.panel {
    margin-top: 40px;
    top: 50px;
    right: 100px;
    float: left;
    width: 20%;
    position: fixed;
}

.panel-map {
    margin-top: 40px;
    top: 50px;
    right: 100px;
    float: left;
    width: 40%;

}

.article {
    width: 100%;
    display: block;
    margin-right: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 30px;
    margin-top: 20px;
    text-align: justify;
}

.article-name {
    padding-left: 15px;
}

.article-photo {
    margin-left: 20px;
}

.map {
    width: auto;
}
