{% extends 'main/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content%}

<div class="article">

    <h1>Главная</h1>

    {% for m in main %}
    <p><span>{{ m.content }}</span></p>
    {% endfor %}


</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Избранное</h3>
  </div>
  <div class="panel-body">
    {% for w in writ %}
        <ul class="article-name">
            <a href="{% url 'liked' w.idwr %}"><li>{{ w.get_liked }}</li></a>
        </ul>
    {% endfor %}
  </div>
</div>

{% endblock %}
